<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Weatherghan.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
</head>
<body>
        <div class="row">
            <div class="col-md-3 pull-left">
                <a href="@Url.Action("Index", "Home")"><img src="~/images/sun.png" alt="sun in cloud" id="sun" /></a>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <h1 id="title">WEATHERGHAN.com</h1>
                <ul id="header">
                    <li>
                        <a class="raindrops" href="@Url.Action("Index", "Home")"><img src="~/images/Home.png" height="150" width="125" /></a>
                    </li>
                    <li>
                        <a class="raindrops" href="#"><img src="~/images/gallery.png" height="150" width="125" /></a>
                    </li>
                    <li>
                        <a class="raindrops" href="@Url.Action("Patterns", "Home")"><img src="~/images/patterns.png" height="150" width="125" /></a>
                    </li>
                    <li>
                        <a class="raindrops" href="#"><img src="~/images/contact.png" height="150" width="125" /></a>
                    </li>
                </ul>
            </div>
        </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
